# Mathpix on-prem license configuration
MATHPIX_ON_PREM_LICENSE=REPLACE_WITH_YOUR_LICENSE

# Worker configuration
WORKER_COUNT=3
PDF_LOADER_WORKER_COUNT=1
PDF_PAGE_COMPLETED_WORKER_COUNT=1
CONVERSIONS_WORKER_COUNT=1

# Postgres configuration
DB_CONNECTION=postgres://user:password@postgres/mathpix
DB_HOST=postgres
DB_DATABASE=mathpix

# Redis configuration
SERVICE_CACHE=redis://redis:6379
IMAGE_CACHE=redis://redis:6379

# Rabbitmq configuration
QUEUE_MANAGERS_DEFAULT=amqp://user:password@rabbitmq:5672/
QUEUE_MANAGERS_GLOBAL=amqp://user:password@rabbitmq:5672/

# File storage configuration
CDN_MODE="minio-on-prem"
MINIO_ORIGIN="http://minio:9000"
MINIO_ACCESS_KEY="mathpix_access"
MINIO_SECRET_KEY="mathpix_secret"
INLINE_IMAGE_URL="https://REPLACE_WITH_STORAGE_HOST/"
S3_URL=http://minio:9000
S3_IMAGES=mpxdata/eqn_images
S3_BATCH=mpxdata/batch
S3_PDF=mpxdata/pdf
S3_CONVERTER=mpxdata/converter
S3_ADMIN=mpxadmin